.navbar-expand-lg {
    background-image: none;
    background-color: #111827;
}

.navbar-right {
    position: absolute;
    right : 10;
    top : 0;
}

.card {
    position : absolute;
    text-align : center;
    min-width : 40%;
    width : 80%;
    max-width : 70%;
    padding: 1rem;
    border: 1px solid black;
    margin: 1rem;
}

#landmark-container {
    display : flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height : 100%;
    background-color: #1F2937;
}

p {
    font-family: 'Franklin Gothic Medium', sans-serif;
}

span {
    font-family: 'Monaco', sans-serif;
}

.card-image {
    position : relative;
    height : auto;
    width : 95%;
    border-radius: 5px;
}

footer {
    position:relative;
}