:root {
	--dark: #374151;
	--darker: #1F2937;
	--darkest: #111827;
	--purple: #8B5CF6;
	--light: #EEE;
    --green: #3bd170;
}

body {
    padding : 0;
    margin : 0;
}

.navbar-expand-lg {
    background-image: none;
    background-color: #111827;
}

.navbar-right {
    position: absolute;
    right : 10;
    top : 0;
}

.main-body {
    display : flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height : 100%;
    background-color: #1F2937;
}

#landmark-container {
    width : 90%;
    display : flex;
    flex-wrap: wrap;
    justify-content: center;
    height : auto;
    background-color: #1F2937;
}

p {
    font-family: 'Franklin Gothic Medium', sans-serif;
}

span {
    font-family: 'Monaco', sans-serif;
}

.card-image {
    position : relative;
    height : auto;
    object-fit: contain;
    width : 90%;
    border-radius: 5px;
}

.card-holder {
    display: flex;
    flex-direction: column;
    width : 90%;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-bottom : 5px solid var(--darkest);
    background-color: var(--darker);
    margin-bottom : 20px;
    padding-bottom : 20px;
}

.card-body {
    align-items: center;
    text-align: center;
    justify-content: center;
    width : 80%;
    background-image: none;
    background-color: #1F2937;
    color : var(--light);
    border: none;
}

hr {
    background-color: var(--green);
}

footer {
    position:relative;
}