:root {
	--dark: #374151;
	--darker: #1F2937;
	--darkest: #111827;
	--purple: #8B5CF6;
	--light: #EEE;
    --green: #3bd170;
}

.navbar-expand-lg {
    background-image: none;
    background-color: var(--darkest);
}

.body {
    background-color: var(--darker);
}

.content-container {
    width : 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.header-image-div {
    position: relative;
    background-color: none;
    margin : 20px 20px 0px 30px;
    width : 95%;
}

.main-image {
    margin : 0;
    width : 100%;
    height : 500px;
    object-fit: cover;
    border : 1px solid var(--light);
}

.heading-text {
    position : absolute;
    width : 55%;
    top : 10;
    left : 10;
}

.heading-text h1 {
    color : var(--light);
    font-family: 'Century Gothic',sans-serif;
}

.heading-text hr {
    background-color : var(--green)
}

.heading-text p {
    color : var(--light);
    font-family: 'Century Gothic', sans-serif;
    font-size : 1.1rem;
}

.featured-card {
    position: absolute;
    top : 40;
    right : 20;
}

.featured-card h2 {
    color : var(--light);
    font-family: 'Century Gothic',sans-serif;
    position: absolute;
    top: 0;
    right : 55;
    margin-bottom : 10px;
}


hr {
    background-color: var(--green);
}

.card-type {
    flex : 0 1 auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin : 30px 10px 10px 10px;
    width: 300px;
    height : 380px;
    border-radius: 5px;
    border: 1px solid var(--light);
    background-color : var(--darker);
}

.card-title {
    font-size: 30;
    font-family: 'Garamond', sans-serif;
    color : var(--light);
}

.card-info {
    padding : 0px 30px 0px 30px;
    font-size: 16;
    font-family: 'Garamond', sans-serif;
    color : var(--light);
}

.card-image {
    margin : 10px;
    border-radius: 5px;
    width: 95%;
    height : auto;
}


.explore-features-card {
    margin-top : 30px;
    font-family: 'Imprint MT Shadow';
    font-size: 60;
    text-align: center;
    color : var(--light);
}


.card-holder {
    display : flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    width : 100%;
}

.card-list {
    flex : 0 1 auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin : 30px 10px 10px 10px;
    width: 350px;
    height : 410px;
    border-radius: 5px;
    border: 1px solid var(--dark);
    background-color : var(--light);
    color : var(--darkest);
}

.card-list h3 {
    font-size: 28;
    font-family: 'Garamond', sans-serif;
}

.card-list p {
    padding : 0px 40px 0px 40px;
    font-size: 18;
    font-family: 'Garamond', sans-serif;
}


footer {
    margin-top : 30px;
}